<form method="post" action="{{ path('app_export_delete', {'id': export.id}) }}"
      onsubmit="return confirm('Czy na pewno usunąć eksport?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ export.id) }}">
    <button class="btn btn-sm btn-danger mt-1">Usuń</button>
</form>
