{% extends 'base.html.twig' %}

{% block title %}Edycja eksportu{% endblock %}

{% block body %}
    <h1>Edycja eksportu</h1>

    {{ include('export/_form.html.twig', {'button_label': 'Zapisz'}) }}

    <a href="{{ path('app_export_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>

    {{ include('export/_delete_form.html.twig') }}
{% endblock %}
