{% extends 'base.html.twig' %}

{% block title %}Lista eksportów{% endblock %}

{% block body %}
    <h1>Lista eksportów</h1>
<div class="row">
    <div class="col-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Data utworzenia</th>
                <th>Godzina utworzenia</th>
                <th>Lokal</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            {% for export in exports %}
                <tr>
                    <td>{{ export.id }}</td>
                    <td>{{ export.name }}</td>
                    <td>{{ export.createdAt ? export.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ export.createdAt ? export.createdAt|date('H:i:s') : '' }}</td>
                    <td>{{ export.room.name }}</td>
                    <td>
                        <a href="{{ path('app_export_show', {'id': export.id}) }}"><div class="btn btn-sm btn-primary">Pokaż</div></a>
                        <a href="{{ path('app_export_edit', {'id': export.id}) }}"><div class="btn btn-sm btn-warning">Edytuj</div></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Brak wyników</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_export_new') }}"><div class="btn btn-sm btn-success">Utwórz nowy</div></a>
    </div>
</div>

{% endblock %}
