{% extends 'base.html.twig' %}

{% block title %}Nowy eksport{% endblock %}

{% block body %}
    <h1>Utwórz nowy eksport</h1>

    {{ include('export/_form.html.twig') }}

    <a href="{{ path('app_export_index') }}"><div class="btn btn-sm btn-info">Wróć do listy</div></a>
{% endblock %}
