{% extends 'base.html.twig' %}

{% block title %}Dane eksportu{% endblock %}

{% block body %}
    <h1>Dane eksportu</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Identyfikator</th>
            <td>{{ export.id }}</td>
        </tr>
        <tr>
            <th>Nazwa eksportu</th>
            <td>{{ export.name }}</td>
        </tr>
        <tr>
            <th>Data i godzina utworzenia</th>
            <td>{{ export.createdAt ? export.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_export_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>

    <a href="{{ path('app_export_edit', {'id': export.id}) }}">
        <div class="btn btn-sm btn-primary">Edytuj</div>
    </a>

    {{ include('export/_delete_form.html.twig') }}
{% endblock %}
