<form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}"
      onsubmit="return confirm('Czy na pewno usunąć pomieszczenie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-sm btn-danger mt-1">Usuń</button>
</form>
