{% extends 'base.html.twig' %}

{% block title %}Edycja pomieszczenia{% endblock %}

{% block body %}
    <h1>Edycja pomieszczenia</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Zapisz'}) }}

    <a href="{{ path('app_room_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
