{% extends 'base.html.twig' %}

{% block title %}Lista pomieszczeń{% endblock %}

{% block body %}
    <h1>Lista pomieszczeń</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identyfikator</th>
                <th>Nazwa</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>
                    <a href="{{ path('app_room_show', {'id': room.id}) }}"><div class="btn btn-sm btn-primary">Pokaż</div></a>
                    <a href="{{ path('app_room_edit', {'id': room.id}) }}"><div class="btn btn-sm btn-warning">Edytuj</div></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">brak wyników</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_room_new') }}"><div class="btn btn-sm btn-success">Utwórz nowy</div></a>
{% endblock %}
