{% extends 'base.html.twig' %}

{% block title %}N pomieszczenie{% endblock %}

{% block body %}
    <h1>Utwórz nowe pomieszczenie</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('app_room_index') }}"><div class="btn btn-sm btn-info">Wróć do listy</div></a>
{% endblock %}
