{% extends 'base.html.twig' %}

{% block title %}Pomieszczenie{% endblock %}

{% block body %}
    <h1>Dane pomieszczenia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identyfikator</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ room.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_room_index') }}"><div class="btn btn-sm btn-info">Wróć do listy</div></a>

    <a href="{{ path('app_room_edit', {'id': room.id}) }}"><div class="btn btn-sm btn-primary">Edytuj</div></a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
