<form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}"
      onsubmit="return confirm('Czy na pewno usunąć pracownika?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn btn-sm btn-danger mt-1">Usuń</button>
</form>
