{% extends 'base.html.twig' %}

{% block title %}Edycja pracownika{% endblock %}

{% block body %}
    <h1>Edycja pracownika</h1>

    {{ include('employee/_form.html.twig', {'button_label': 'Zapisz'}) }}

    <a href="{{ path('app_employee_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
