{% extends 'base.html.twig' %}

{% block title %}Lista pracowników{% endblock %}

{% block body %}
    <h1>Lista pracowników</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>
                    <a href="{{ path('app_employee_show', {'id': employee.id}) }}"><div class="btn btn-sm btn-primary">Pokaż</div></a>
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}"><div class="btn btn-sm btn-warning">Eycja</div></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">brak wyników</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_new') }}"><div class="btn btn-sm btn-success">Utwórz nowy</div></a>
{% endblock %}
