{% extends 'base.html.twig' %}

{% block title %}Utwórz nowego pracownika{% endblock %}

{% block body %}
    <h1>Utwórz nowego pracownika</h1>

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('app_employee_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>
{% endblock %}
