{% extends 'base.html.twig' %}

{% block title %}Pracownik{% endblock %}

{% block body %}
    <h1>Pracownik</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Identyfikator</th>
            <td>{{ employee.id }}</td>
        </tr>
        <tr>
            <th>Imię</th>
            <td>{{ employee.firstName }}</td>
        </tr>
        <tr>
            <th>Naziwsko</th>
            <td>{{ employee.lastName }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">
        <div class="btn btn-sm btn-info">Wróć do listy</div>
    </a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">
        <div class="btn btn-sm btn-primary">Edytuj</div>
    </a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
