<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome in simple symfony app!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Simple Symfony Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_about') }}">O aplikacji</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_export_index') }}">Lista eksportów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_employee_index') }}">Lista pracowników</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_room_index') }}">Lista pomieszczeń</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    {% block body %}{% endblock %}
</div>
</body>
</html>
