{% extends 'base.html.twig' %}

{% block body %}
    <section class="testimonials text-center bg-success rounded p-5 text-white">
        <div class="container">
            <h2 class="mb-5">Simple Symfony Application</h2>
            <p>Oto przykładowa aplikacja (CRUD) napisana przy użyciu kilku ciekawych narzędzi takich jak:</p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img style="max-height: 50px" class="img-fluid mb-3"
                             src="https://symfony.com/images/logos/header-logo.svg" alt="">
                        <h5>Symfony</h5>
                        <p class="font-weight-light mb-0">"Jeden z najlepszych framework'ów PHP'owych"</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img style="max-height: 50px" class="img-fluid mb-3"
                             src="https://res.cloudinary.com/practicaldev/image/fetch/s--_EBDyXGU--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/3b7sc84xstfheooeegbv.jpg"
                             alt="">
                        <h5>Twig</h5>
                        <p class="font-weight-light mb-0">"Nowoczesny system renderowania szablonów dla PHP"</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img style="max-height: 50px" class="img-fluid mb-3"
                             src="https://www.doctrine-project.org/logos/doctrine-logo.svg?1a5b7c"
                             alt="">
                        <h5>Doctrine</h5>
                        <p class="font-weight-light mb-0">"Narzędzie do kompleksowej obsługi komunikacji z bazą
                            danych"</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img style="max-height: 50px" class="img-fluid mb-3"
                             src="https://www.docker.com/wp-content/uploads/2022/05/Docker_Temporary_Image_Google_Blue_1080x1080_v1.png"
                             alt="">
                        <h5>Docker</h5>
                        <p class="font-weight-light mb-0">"Jedna z najpopularnieszych platform do konteneryzacji"</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <p>Aplikacja wykonana w stylu MVC na kontynerze przy pomocy Dockera.
                    Oparta na najnowszym aktualnie frameworku Symfony (6) i PHP w wersji 8.1.
                    Poza tym do realizacji użyto jeszcze: Doctrine (+migrations), Twig, Webpack, Bootstrap, Symfony
                    Fixtures, Symfony Form Component, CS-FIXER etc.</p>
            </div>
            <hr>
            <div class="row">
                <p>Jakubek Software Jakub Radzik | a.d. 2022</p>
            </div>
        </div>
    </section>
{% endblock %}
